!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>测试文件上传</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="../">
    
    <link rel="stylesheet" href="plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="plugin/jquery/fileupload/jquery.fileupload.css">
</head>
 
<body>
    <!-- 1、这里选择文件 -->
	<div>
		<label for="fileupload">请选择上传文件：</label>
		<input id="fileupload" type="file" name="file" multiple>
	</div>
 
    <!-- 2、这里显示文件上传进度 -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    
    <!-- 3、这里显示已经上传的文件 -->
    <div id="files" class="files"></div>
 
 
<script src="plugin/jquery/jquery-3.3.1.min.js"></script>
<script src="plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="plugin/jquery/ui/jquery.ui.widget.js"></script>
<script src="plugin/jquery/fileupload/jquery.fileupload.js"></script>
<script type="text/javascript">
 
$('#fileupload').fileupload({
    url: "/files/upload",
    dataType: 'json',
    done: function (e, data) {
        $.each(data.result.files, function (index, file) {
            $('<p/>').text(file.name).appendTo('#files');
        });
    },
    progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .progress-bar').css(
            'width',
            progress + '%'
        );
    }
}).prop('disabled', !$.support.fileInput)
    .parent().addClass($.support.fileInput ? undefined : 'disabled');
</script>
</body>
 
</html>
