<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shards Dashboard Lite - Free Bootstrap Admin Template – DesignRevision</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link th:href="@{/css/bootstrap/jquery.dataTables.min.css}" href="../static/css/bootstrap/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"  th:href="@{/css/styles/shards-dashboards.1.1.0.min.css}"  href="../static/css/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" th:href="@{/css/styles/extras.1.1.0.min.css}" href="../static/css/styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <link rel="stylesheet" th:href="@{/css/zhuzhuangtu.css}" href="../static/css/zhuzhuangtu.css">
  </head>
  <script  th:inline="javascript">
    var user = [[${session.user}]];
	if(user== null){ 
		var pathArray = window.location.href.split("/");
		var url = pathArray[0]+"//"+pathArray[2];
		window.location.href = url; 
		// https://localhost:8080/
	}
  </script>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
      
        					<!-- 引入左边菜单栏 -->
		<div th:replace="common/extract-leftmenu :: extract-leftmenu"></div>
        
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        
       						 <!-- 引入右上的头部栏 -->
        <div th:replace="common/extract-top :: extract-top"></div>
          
          <!-- / .main-navbar -->
          <div class="alert alert-accent alert-dismissible fade show mb-0" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <i class="fa fa-info mx-2"></i>
            <strong>Here</strong> 新时代中国青年，要有家国情怀，也要有人类关怀，发扬中华文化崇尚的四海一家、天下为公精神
          </div>
        
        <!-- 小矩形框 -->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
           <div class="card card-small card-post card-post--1">
         </div>
       </div>
       
       <div class="row">
       					<!-- 一行内容  第一列-->
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
             <div class="card card-small card-post card-post--1">
	               <div class="card-post__image" style="background-image: url('images/content-management/12.jpeg');">
	                 <!-- <a href="#" class="card-post__category badge badge-pill badge-dark">申请</a> -->
	               </div>
	               <button class="card-body" data-toggal="modal" id="shengcheng-erweima-button" >
	                 <h5 class="card-title" align="center">
	                   <a class="text-fiord-blue" href="#">点击生成签到码</a>
	                 </h5>
	               </buttom>
             </div>
        </div>
        
		        <!-- 一行第二列 -->
         <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card card-small card-post card-post--1">
                  <div class="card-post__image" style="background-image: url('images/content-management/6.jpeg');">
                    <!-- <a href="#" class="card-post__category badge badge-pill badge-dark">申请</a> -->
                  </div>
                  <button class="card-body" data-toggal="modal" id="zhuzhuangtu-button" >
	                 <h5 class="card-title" align="center">
	                   <a class="text-fiord-blue" href="#">发起投票</a>
	                 </h5>
                </div>
          </div>
              
        </div>
        
        <!-- 签到码生成模态框 -->
        <div aria-labelledby="myModalLabel" class="modal fade bs-example-modal-lg" id="erweima-chulai-modal" role="dialog" >
	        <div class="modal-dialog modal-lg" role="document">
		            <div class="modal-content">
		               <!--  <div class="modal-body" id="modalBody"> style="width:80%"
		                </div> -->
				             <input id="text" type="text" value="扫码"  /><br />
							<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
		                <div class="modal-footer">
		                	<button class="btn btn-default" data-dismiss="modal" type="button" >X</button>	
		                    <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
		                </div>
		            </div>
	        </div>
      </div>
        
		        <!-- 柱状图 -->
        <div aria-labelledby="myModalLabel" class="modal fade bs-example-modal-lg" id="zhuzhuangtu-modal" role="dialog" >
	        <div class="modal-dialog modal-lg" role="document">
		            <div class="modal-content">
		               <!--  <div class="modal-body" id="modalBody"> style="width:80%"
		                </div> -->
				             
								 <canvas id="canvas"></canvas>
								<div id="show_num"></div>
								<!-- <script type="text/javascript" src="jquery-1.7.1.min.js"></script>
								<script type="text/javascript" src="canvas.js"></script> -->
								<div style="text-align:center;clear:both">
								<!-- <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
								<script src="/follow.js" type="text/javascript"></script> -->
								</div>
				             
		                <div class="modal-footer">
		                	<button class="btn btn-default" data-dismiss="modal" type="button" >X</button>	
		                    <button class="btn btn-default" data-dismiss="modal" type="button">取消</button>
		                </div>
		            </div>
	        </div>
      </div>
      
      
        
        
        
        
        
        
       
         						 <!-- 页面右边最下面的角标行 -->
          <footer th:replace="common/extract-rightend :: extract-rightend"></footer>
          
        </main>
      </div>
    </div>
    
<script th:src="@{/js/query/jquery.min.js}" src="../static/js/query/jquery.min.js"></script>
<script th:src="@{/js/query/qrcode.min.js}" src="../static/js/query/qrcode.min.js"></script>
  
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
 
<script th:src="@{/scripts/extras.1.1.0.min.js}" src="../static/scripts/extras.1.1.0.min.js"></script>
<script th:src="@{/scripts/shards-dashboards.1.1.0.min.js}" src="../static/scripts/shards-dashboards.1.1.0.min.js"></script>
<script th:src="@{/js/query/jquery.dataTables.min.js}" src="../static/js/query/jquery.dataTables.min.js"></script>

<script th:src="@{/js/query/canvas.js}" src="../static/js/query/canvas.js"></script>

<script >
var qrcode = new QRCode(document.getElementById("qrcode"), {
	width : 300,
	height : 300
});
function makeCode () {		
	var elText = document.getElementById("text");
	if (!elText.value) {
		alert("Input a text");
		elText.focus();
		return;
	}
	qrcode.makeCode(elText.value);
}
makeCode();
$("#text").
	on("blur", function () {
		makeCode();
	}).
	on("keydown", function (e) {
		if (e.keyCode == 13) {
			makeCode();
		}
	});

 $("#text").
	on("blur", function () {
		makeCode();
	}).
	on("keydown", function (e) {
		if (e.keyCode == 13) {
			makeCode();
		}
	}); 
 
$(function(){
	$("#shengcheng-erweima-button").on('click',function(){
		$("#erweima-chulai-modal").modal("show");
	});
	$("#zhuzhuangtu-button").on('click',function(){
		$("#zhuzhuangtu-modal").modal("show");
	});
	
});	
	
</script>





  </body>
</html>