<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shards Dashboard Lite - Free Bootstrap Admin Template – DesignRevision</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link th:href="@{/css/bootstrap/jquery.dataTables.min.css}" href="../static/css/bootstrap/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
   <link rel="stylesheet" th:href="@{/css/yc-all.css}" href="../static/css/yc-all.css" />
   <link rel="stylesheet" th:href="@{/css/yc-icon-family.css}" href="../static/css/yc-icon-family.css"  />
   <link rel="stylesheet" th:href="@{/css/yc-bootstrap.min.css}" href="../static/css/yc-bootstrap.min.css" />
    
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"  th:href="@{/css/styles/shards-dashboards.1.1.0.min.css}"  href="../static/css/styles/shards-dashboards.1.1.0.min.css"  />
    <link rel="stylesheet" th:href="@{/css/styles/extras.1.1.0.min.css}" href="../static/css/styles/extras.1.1.0.min.css"  />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    
  <script  th:inline="javascript">
    var user = [[${session.user}]];
	if(user== null){ 
		var pathArray = window.location.href.split("/");
		var url = pathArray[0]+"//"+pathArray[2];
		window.location.href = url; 
		// https://localhost:8080/
	}
  </script>
  <body class="h-100">
	<input style="display:none"  id="getUserLevel"  th:value="${session.user.userLevel}"></input>  
    <div class="container-fluid">
      <div class="row">
       						 <!-- 引入左边菜单栏 -->
		<div th:replace="common/extract-leftmenu :: extract-leftmenu"></div>	
        
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        
          					 <!-- 引入右上的头部栏 -->
          <div th:replace="common/extract-top :: extract-top"></div>
          
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            
            <!-- 页面顶部标题栏 -->
           <div class="page-header row no-gutters py-4"  >
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <h3 class="page-title">活动进行</h3>
              </div>
            </div>
           
           <!-- 手动签到 -->
            
            
            
            
          
          
          							<!-- 页面右边最下面的角标行 -->
          <footer th:replace="common/extract-rightend :: extract-rightend"></footer>		
          		
          
        </main>
      </div>
    </div>
 
<script th:src="@{/js/query/jquery-3.3.1.min.js}" src="../static/js/query/jquery-3.3.1.min.js"></script>

<script th:src="@{/js/yc-popper.min.js}" src="../static/js/yc-popper.min.js" ></script>
<script th:src="@{/js/bootstrap/bootstrap.min.js}" src="../static/js/bootstrap/bootstrap.min.js"></script>
<script th:src="@{/js/yc-Chart.min.js}" src="../static/js/yc-Chart.min.js"></script>
<script th:src="@{/js/yc-shards.min.js}" src="../static/js/yc-shards.min.js"></script>
<script th:src="@{/js/yc-jquery-sharrre.min.js}" src="../static/js/yc-jquery-sharrre.min.js"></script>
     
<script th:src="@{/scripts/extras.1.1.0.min.js}" src="../static/scripts/extras.1.1.0.min.js"></script>
<script th:src="@{/scripts/shards-dashboards.1.1.0.min.js}" src="../static/scripts/shards-dashboards.1.1.0.min.js"></script>
<script th:src="@{/js/query/jquery.dataTables.min.js}" src="../static/js/query/jquery.dataTables.min.js"></script>

<!-- <script th:src="@{/js/activity-check.js}" src="../static/js/activity-check.js"></script> -->
  
  </body>
</html>