<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>校园活动管理</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components."/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <link th:href="@{/css/bootstrap/jquery.dataTables.min.css}" href="../static/css/bootstrap/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    <!-- 
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   -->
    <link rel="stylesheet" th:href="@{/css/yc-all.css}" href="../static/css/yc-all.css"/>
   <link rel="stylesheet" th:href="@{/css/yc-icon-family.css}" href="../static/css/yc-icon-family.css"/>
   <link rel="stylesheet" th:href="@{/css/yc-bootstrap.min.css}" href="../static/css/yc-bootstrap.min.css"/>
   
  
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"  th:href="@{/css/styles/shards-dashboards.1.1.0.min.css}"  href="../static/css/styles/shards-dashboards.1.1.0.min.css"/>
    <link rel="stylesheet" th:href="@{/css/styles/extras.1.1.0.min.css}" href="../static/css/styles/extras.1.1.0.min.css"/>
    <script th:src="@{https://buttons.github.io/buttons.js}"></script>
  </head>
  <script  th:inline="javascript">
    var user = [[${session.user}]];
	if(user== null){ 
		var pathArray = window.location.href.split("/");
		var url = pathArray[0]+"//"+pathArray[2];
		window.location.href = url; 
		// https://localhost:8080/
	}
  </script>
  
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
					       	 <!-- 引入左边菜单栏 -->
		<div th:replace="common/extract-leftmenu :: extract-leftmenu"></div>			        
        
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
       						
       						 <!-- 引入右上的头部栏 -->
          <div th:replace="common/extract-top :: extract-top"></div>
          
          <!-- / .main-navbar  右边内容栏 -->
          <div class="main-content-container container-fluid px-4">
          
          		<!-- 主页上面的显示栏 -->
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card card-small card-post card-post--1">
                  <div class="card-post__image" style="background-image: url('images/content-management/1-1.jpg');">
                    <!-- <a href="#" class="card-post__category badge badge-pill badge-dark">申请</a> -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" align="center">
                      <a class="text-fiord-blue" href="#">厚德</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">
                    	淡泊明志，宁静致远，韬光养晦，厚积薄发，厚德载物，天道酬勤，止于至善，上善若水，安之若素，虚怀若谷
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card card-small card-post card-post--1">
                  <div class="card-post__image" style="background-image: url('images/content-management/1-2.png');">
                    <!-- <a href="#" class="card-post__category badge badge-pill badge-dark">申请</a> -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" align="center">
                      <a class="text-fiord-blue" href="#">博学</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">
                    	书富如入海，百货皆有。 人之精力，不能兼收尽取，但得春所欲求者尔。 故愿学者每次作一意求之。
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card card-small card-post card-post--1">
                  <div class="card-post__image" style="background-image: url('images/content-management/1-3.jpg');">
                    <!-- <a href="#" class="card-post__category badge badge-pill badge-dark">申请</a> -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" align="center">
                      <a class="text-fiord-blue" href="#">笃行</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">
                    	不闻不若闻之，闻之不若见之，见之不若知之，知之不若行之，学至于行之而止矣。
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card card-small card-post card-post--1">
                  <div class="card-post__image" style="background-image: url('images/content-management/1-4.jpg');">
                    <!-- <a href="#" class="card-post__category badge badge-pill badge-dark">申请</a> -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" align="center">
                      <a class="text-fiord-blue" href="#">创新</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">
                    	科学技术是第一生产力。<br/>
                    	掌握新技术，要善于学习，更要善于创新。<br/>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          
	          	<div class="page-header row no-gutters py-4" style='position:absolute z-index:999; top:0;'>
	              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
	                <span class="text-uppercase page-subtitle">主页</span>
	                <h3 class="page-title">活动展示</h3>
	              </div>
	            </div>
  								 <!-- 活动预参与信息	 -->
	             <!-- <span class="text-uppercase page-subtitle">校园文体活动</span> -->
	            <div class="page-header row no-gutters py-4" >
	              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
	                <h2 class="page-title" >活动预参与(公布时间2天)</h2>
	              </div>
	            </div>
	            <div class="row"  style="background:#F5FFFA" >
	           			<table id="pred-activity" class="table table-bordered table-striped"  width="100%" align="left"> 
		              		<thead>
		              			<tr>
		              			<td>主题</td>
		              			<td>学院</td>
		              			<td>负责人</td>
		              			<td>描述</td>
		              			<td>预估计时间</td>
		              			<td>公布日期</td>
		              			<td>预参与人数</td>
		              			<td>参与</td>
		              			</tr>
		              		</thead>
	             		</table>
	            </div>
	           
	           <div style="width:100%; height:20px; border:1px solid #FFF;background:#FFF"></div>
	           
					           	<!-- 活动审核过程信息 -->
	           <div class="page-header row no-gutters py-4">
	             <!--  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
	              </div> -->
	                <h2 class="page-title" align="left">活动审核过程信息(在预参与结束后,审核期3天)</h2>
	            </div>
	            <div class="row" style="background:#FFF" >
	           			<table id="check-result-activity" class="table table-bordered table-striped"  width="100%" align="left"> 
		              		<thead>
		              			<tr>
		              			<td>主题</td>
		              			<td>学院</td>
		              			<td>负责人</td>
		              			<td>地址</td>
		              			<td>描述</td>
		              			<td>预估计时间</td>
		              			<td>公布日期</td>
		              			<td>预参与人数</td>
		              			<td>状态</td>
		              			</tr>
		              		</thead>
	             		</table>
	            </div> 
	            
	           <div style="width:100%; height:20px; border:1px solid #FFF;background:#FFF"></div>
	           
	           
	           					<!-- 活动审核结果信息 -->
	           <div class="page-header row no-gutters py-4">
	             <!--  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
	              </div> -->
	                <h2 class="page-title" align="left">活动审核结果信息</h2>
	            </div>
	            <div class="row"  style="background:	#F5F5DC" >
	           			<table id="check-end-result-activity" class="table table-bordered table-striped"  width="100%" align="left"> 
		              		<thead>
		              			<tr>
		              			<td>主题</td>
		              			<td>学院</td>
		              			<td>负责人</td>
		              			<td>地址</td>
		              			<td>描述</td>
		              			<td>预估计时间</td>
		              			<td>公布日期</td>
		              			<td>预参与人数</td>
		              			<td>状态</td>
		              			</tr>
		              		</thead>
	             		</table>
	            </div> 
	            
	           <div style="width:100%; height:20px; border:1px solid #FFF;background:#FFF"></div>
	           
	           
	           
	            				<!-- 前两周活动结果展示 -->
	             <div class="page-header row no-gutters py-4">
	             <!--  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
	              </div> -->
	                <h2 class="page-title" align="left">前两周内的活动结果展示</h2>
	            </div>
	            <div class="row"  style="background:#FFF">
	           			<table id="hold-result-activity" class="table table-bordered table-striped"  width="100%" align="left"> 
		              		<thead>
		              			<tr>
		              			<td>主题</td>
		              			<td>学院</td>
		              			<td>负责人</td>
		              			<td>地址</td>
		              			<td>公布日期</td>
		              			<td>举行时间</td>
		              			<td>参与人数</td>
		              			<td>创意得分</td>
		              			<td>执行力得分</td>
		              			<td>流程得分</td>
		              			<td>总分</td>
		              			</tr>
		              		</thead>
	             		</table>
	            </div> 
	            
          </div>
          
          <!-- <button type="button" class="btn btn-accent"  data-toggle="modal"  id="df">按钮</button> -->
          
          					<!-- 页面最下面的角标行 -->
          <footer th:replace="common/extract-rightend :: extract-rightend"></footer>
          
        </main>
      </div>
    </div>

<script th:src="@{/js/query/jquery-3.3.1.min.js}" src="../static/js/query/jquery-3.3.1.min.js"></script>
<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
  -->
 
<script th:src="@{/js/yc-popper.min.js}" src="../static/js/yc-popper.min.js" ></script>
<script th:src="@{/js/bootstrap/bootstrap.min.js}" src="../static/js/bootstrap/bootstrap.min.js"></script>
<script th:src="@{/js/yc-Chart.min.js}" src="../static/js/yc-Chart.min.js"></script>
<script th:src="@{/js/yc-shards.min.js}" src="../static/js/yc-shards.min.js"></script>
<script th:src="@{/js/yc-jquery-sharrre.min.js}" src="../static/js/yc-jquery-sharrre.min.js"></script>
 
 
<script th:src="@{/scripts/extras.1.1.0.min.js}" src="../static/scripts/extras.1.1.0.min.js"></script>
<script th:src="@{/scripts/shards-dashboards.1.1.0.min.js}" src="../static/scripts/shards-dashboards.1.1.0.min.js"></script>
<script th:src="@{/js/query/jquery.dataTables.min.js}" src="../static/js/query/jquery.dataTables.min.js"></script>

<script th:src="@{/js/homepage.js}" src="../static/js/homepage.js"></script>

  </body>
</html>