<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>左侧导航menu</title>
<link href="../static/css/css.css" th:href="@{/css/css.css}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="../static/js/sdmenu.js" th:src="@{/js/sdmenu.js}" ></script>
<script type="text/javascript">
	// <![CDATA[
	var myMenu;
	window.onload = function() {
		myMenu = new SDMenu("my_menu");
		myMenu.init();
	};
	// ]]>
</script>
<style type=text/css>
html{ SCROLLBAR-FACE-COLOR: #538ec6; SCROLLBAR-HIGHLIGHT-COLOR: #dce5f0; SCROLLBAR-SHADOW-COLOR: #2c6daa; SCROLLBAR-3DLIGHT-COLOR: #dce5f0; SCROLLBAR-ARROW-COLOR: #2c6daa;  SCROLLBAR-TRACK-COLOR: #dce5f0;  SCROLLBAR-DARKSHADOW-COLOR: #dce5f0; overflow-x:hidden;}
body{overflow-x:hidden; background:url(images/main/leftbg.jpg) left top repeat-y #f2f0f5; width:194px;}
</style>
</head>

<body onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;">
	<!-- 左侧导航第一栏信息 -->
	<div id="left-top">
		<div><img src="../static/img/main/member.gif"  th:src="@{/img/main/member.gif}" width="44" height="44" /></div>
	    <div  style="line-height:44px">
		    <span>菜单导航</span>
	    </div>
	</div>

    <div style="float: left" id="my_menu" class="sdmenu">
      <div class="collapsed">
        <span>用户管理</span>
        <a href="user-basic.html" target="mainFrame" onFocus="this.blur()">基本信息管理</a>
        <a href="user-cancel.html" target="mainFrame" onFocus="this.blur()">注销管理</a>
        <a href="user-add.html" target="mainFrame" onFocus="this.blur()">新增用户</a>
      </div>
      <div>
        <span>学院管理</span>
        <a href="college-basic.html" target="mainFrame" onFocus="this.blur()">基本信息管理</a>
        <a href="college-add.html" target="mainFrame" onFocus="this.blur()">学院新增</a>
      </div>
      <div>
        <span>管理员管理</span>
        <a href="campus-manage.html" target="mainFrame" onFocus="this.blur()">管理员信息</a>
        <a href="campus-add.html" target="mainFrame" onFocus="this.blur()">新增</a>
      </div>
      <!-- 
      <div>
        <span>系统设置</span>
        <a href="main_list.html" target="mainFrame" onFocus="this.blur()">级别权限</a>
        <a href="main_info.html" target="mainFrame" onFocus="this.blur()">角色管理</a>
        <a href="main_list.html" target="mainFrame" onFocus="this.blur()">基本信息管理</a>
        <a href="main_info.html" target="mainFrame" onFocus="this.blur()">列表详细页</a>
        <a href="main_message.html" target="mainFrame" onFocus="this.blur()">留言页</a>
        <a href="main_menu.html" target="mainFrame" onFocus="this.blur()">栏目管理</a>
      </div>
       -->
    </div>
</body>
</html>