<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campus.dao.ActUserDao">
	
	<!-- #判断联合表中是否存在活动用户数据 -->
	<select id="actUserIsExitByActidUserid"  parameterType="Integer"  resultType="ActUser">
		select * from  act_user where act_id2=#{actId2} and user_id2=#{userId2}
	</select>
	
	<!-- #用户第一次参加设置初值 -->
	<insert id="actUserFirstClickApplyAdvance"  parameterType="Integer">
		insert into act_user(act_id2,user_id2,user_applyjoin)  values(#{actId2},#{userId2},0)
	</insert>
	
	
	<!-- #联合主键表,用户参与预参与活动 -->
	<insert id="actUserAttendAdvanceApplyAct"  parameterType="Integer">
		update act_user set user_applyjoin=1 where act_id2=#{actId2} and user_id2=#{userId2}
	</insert>
	
	
	<!-- #联合主键表,用户退出预参与活动 -->
	<insert id="actUserExitAdvanceApplyAct"  parameterType="Integer">
		update act_user set user_applyjoin=0 where act_id2=#{actId2} and user_id2=#{userId2}
	</insert>
	
	
	<!-- #根据活动用户的两个主键查询是否参与预参与活动 -->
	<select id="actUserShowUserapplyjoinByUseridActid"  parameterType="Integer"  resultType="Integer">
		select  user_applyjoin from act_user where act_id2=#{actId2} and user_id2=#{userId2}	
	</select>
	
	
</mapper>